StoreApp/Service References/StoreService/StoreServ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StoreServ" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2036/StoreService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2036/StoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2036/StoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStoreServ_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IStoreServ_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IStoreServ_AddOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="IStoreServ_AddOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IStoreServ_CheckOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckOrder" />
  </wsdl:message>
  <wsdl:message name="IStoreServ_CheckOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IStoreServ">
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreServ/GetBooks" message="tns:IStoreServ_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreServ/GetBooksResponse" message="tns:IStoreServ_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreServ/AddOrder" message="tns:IStoreServ_AddOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreServ/AddOrderResponse" message="tns:IStoreServ_AddOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreServ/CheckOrder" message="tns:IStoreServ_CheckOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreServ/CheckOrderResponse" message="tns:IStoreServ_CheckOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStoreServ" type="tns:IStoreServ">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IStoreServ/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/IStoreServ/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOrder">
      <soap:operation soapAction="http://tempuri.org/IStoreServ/CheckOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StoreServ">
    <wsdl:port name="BasicHttpBinding_IStoreServ" binding="tns:BasicHttpBinding_IStoreServ">
      <soap:address location="http://localhost:2036/StoreService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>