Warehouse/Service References/StoreService/StoreService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StoreService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StoreService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStoreRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoreRequest" nillable="true" type="tns:StoreRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoreRequest" nillable="true" type="tns:ArrayOfStoreRequest" />
  <xs:complexType name="StoreRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="book_id" type="xs:int" />
      <xs:element minOccurs="0" name="fulfilled" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoreRequest" nillable="true" type="tns:StoreRequest" />
</xs:schema>